{% extends "navbar.html" %}
{%block title%}Clientes{%endblock%}
{% block content%}
<form class="form-horizontal form-group " method="post">{% csrf_token %}
  <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" onclick=" window.location.href='{% url 'new_cliente' %}' "><span class="glyphicon glyphicon-plus"></span> Agregar</button>
      <button type="button" class="btn btn-default" onclick=" window.location.href='{% url 'pdf_cliente' %}' "><span class="glyphicon glyphicon-print"></span> Imprimir</button>
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-btn ">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
          <input id="buscar" name="buscar" type="text" class="form-control" placeholder="Cedula del Cliente...">
        </div>
      </div>
  </div>
  <br>
  <br>  
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Listado de Clientes</h4></div>
    <div class="panel-body">
              <table valign="middle" class="table">
                <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>(Editar / Eliminar)</th>
                </tr>
                </thead>
                <tbody>
                {% for cliente in results %}
                    <tr>
                        <td>{{ cliente.cli_ced }}</td>
                        <td>{{ cliente.cli_nom }}</td>
                        <td>{{ cliente.cli_ape }}</td>
                        <td>{{ cliente.cli_dir }}</td>
                        <td>{{ cliente.cli_tel }}</td>
                        <td>
                            <button type="button" class="btn btn-default" onclick=" window.location.href='{% url 'edit_cliente' cliente.id %}'"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button type="button" class="btn btn-default" onclick=" window.location.href='#'"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
    </div>
  </div>
</form>

{% endblock %}