{% extends "navbar.html" %}
{%%load staticfiles}
{% block content%}
<div class="row">
	<div class="container">
		<div class="jumbotron">
			<h1>Bienvenid@ a SIGIF</h1>
			<p style=”text-align: justify;”>Sistema de Gestion de Inventario y Facturacion</p>
		</div>
	</div>
	
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title">Mision</h2>
			</div>
			<div class="panel-info">
				<p style="text-align: justify;">Creamos valores con nuestros clientes, mejorando la competitividad y productividad conjunta, a través de una base tecnológica de alta eficiencia y una red comercial global.</p>
			</div>
		</div>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title">Vision</h2>
			</div>
			<div class="panel-body">
				<p style="text-align: justify;">LEA SYSTEM S.A. ser la empresa líder en el mercado nacional capaz de optimizas necesidades de los procesos manuales, reconocida por ofrecer servicios que satisfacen íntegramente las expectativas de sus clientes, basándose en altos estándares de calida y seguridad. Nuestra organización aspira a tener un crecimiento continuo y sustentable, destacándose por ser una empresa que contribuye positivamente a la sociedad en que está inserta y que brinda oportunidades desarrollo profesional y personal a su equipo de trabajo.</p>
			</div>
		</div>
	</div><!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2 class="panel-title">Objetivo</h2>
			</div>
			<div class="panel-body">
				<p style="text-align: justify;">Contactar con todas las empresas cuya facturación supere los $ 10.000 del cantón de santa rosa, en el primer año conseguir 100 clientes y doblarlos consecutivamente, los años siguientes lograr conseguir los 1.000 clientes que nuestro proyecto precisa, para dar el siguiente salto de crecimiento</p>
			</div>
		</div>
	</div><!-- /.col-sm-4 -->
</div>
{% endblock %}