{% extends "navbar.html" %}
{%load staticfiles%}
{%block title%}Agregar Pedido{%endblock title%}
{% block content%}
<div class="panel panel-success">
        <div class="panel-heading"><h4>Agregar Pedido</h4></div>
        <div class="panel-body">
            <form  method="post" id="formulario">{% csrf_token %}
                <div class="row">
                    <div class="col-md-2">
                        <label> <font color="black" face="Arial" size=3>Num. Pedido: </font></label>
                    </div>
                    <div class="col-md-2">
                        <input type="number" style="display: none" onchange="clave()"  id="txtClave" value="{{ id_ped }}">
                        {{ form.ped_num }}
                    </div>
                    <div class="col-md-2">
                        <label> <font color="black" face="Arial" size=3>Fecha: </font></label>
                    </div>
                    <div class="col-md-2">
                        {{ form.ped_fec }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <label> <font color="black" face="Arial" size=3>Nom. Usuario: </font></label>
                    </div>
                    <div class="col-md-2">
                        {{ form.usu_id }}
                    </div>
                    <div class="col-md-2">
                        <label> <font color="black" face="Arial" size=3>Nom. Proveedor: </font></label>
                    </div>
                    <div class="col-md-2">
                            {{ form.prov_id }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <table id="tabla1" class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%">Cantidad</th>
                                <th width="40%">Nombre</th>
                                <th width="50%">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" name="txtCantidad" id="txtCantidad" class="form-control" onclick="">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input disabled id="1" name="1" type="text" class="form-control" placeholder="Producto...">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="1" onclick="verProductos(this)">Buscar</button>
                                    </span>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" name="txtNota" id="txtNota" class="form-control" onclick="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-success" onclick="agregar()" name="btnadd" id="btnadd" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true" > </span></button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" onclick="quitar()" name="btndel" id="btndel" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true" > </span></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1">
                        <input class="btn btn-success" type="submit">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" >Imprimir</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger" >Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
</div>

{% endblock content %}
{% block js_custom %}

    <script type="text/javascript">

        var dir=1;
        var vali =1;
        var contador=1;
        var bandera = "si"

        function agregar() {
            dir++;
            vali++;
            contador++;
            $('#tabla1 tr:last').after('<tr><td><input type="number" name="txtCantidad'+contador+'"id="txtCantidad'+contador+'" class="form-control" onclick="#"></td><td><div class="input-group"><input disabled id="'+contador+'" name="'+contador+'" type="text" class="form-control" placeholder="Producto..."><span class="input-group-btn"><button class="btn btn-default" type="button" id="'+contador+'" onclick="verProductos(this)">Buscar</button></span></div></td><td><input type="text" name="txtNota'+contador+'" id="txtNota'+contador+'" class="form-control" onclick=""></td></tr>')
        }
        function quitar() {

            if (dir > 1) {
                $('#tabla1 tr:last').remove()
                dir--;
            }
        }
        function verProductos(id){
            bootbox.dialog({
                        message: '<form class="form-horizontal form-group " method="post" id="formulario">'+
                        '<br>'+
                        '<br>'+
                        '<div class="panel panel-primary">'+
                        '<div class="panel-heading"><h4>Listado de Productos</h4></div>'+
                        '<div class="panel-body">'+
                        '<table valign="middle" class="table">'+
                        '<thead>'+
                        '<tr>'+
                        '<th>Nombre</th>'+
                        '<th>Marca</th>'+
                        '<th>Precio</th>'+
                        '<th>Stock Actual</th>'+
                        '<th></th>'+
                        '</tr>'+
                        '</thead>'+
                        '<tbody id="filaProducto">'+

                        '{% for producto in listaProductos %}'+
                            '<tr>'+
                            '<td>{{producto.pro_nom}}</td>'+
                            '<td>{{producto.pro_mar}}</td>'+
                            '<td>{{producto.pro_pre}}</td>'+
                            '<td>{{producto.pro_sto_act}}</td>'+
                            '<td><input type="radio" name="select" value="{{producto.pro_nom}}"></td>'+
                            '</tr>'+
                            '{% endfor %}'+
                        '</tbody>'+
                        '</table>'+
                        '</div>'+
                        '</div>'+
                        '</form>',
                        buttons: {
                            success: {
                                label: "Aceptar",
                                className: "btn-success",
                                callback: function () {
                                    var name = $('input:radio[name=select]:checked').val()


                                    for(var i=1 ; i<=vali; i++){
                                        if($("#"+i).val() == name){
                                            alert("Producto ya seleccionado")
                                            bandera = "no"
                                        }
                                    }
                                    if (bandera == "si"){
                                        document.getElementById(id.id).value = name
                                    }

                                }
                            }
                        }
                    }
            );
        }
        /**
         function filtrarProductos(){
            var prove = document.getElementById('cmbNomProveedor');
            var id_proveedor = prove.options[prove.selectedIndex].value;
            $.ajax({
                url: '/pedido/FiltrarProductos/',
                dataType:'json',
                data: {'id_proveedor':id_proveedor},
                type: 'GET'

            })
                    .done(function(data){
                        var fila = ''
                        for (var i=0; i<data.length; i++){
                            fila += '<table>'+
                                    '<tr>'+
                                    '<td>'+(data[i].nombre)+'</td>'+
                                    '<td>'+(data[i].marca)+'</td>'+
                                    '<td>'+(data[i].precio)+'</td>'+
                                    '<td>'+(data[i].stock_actual)+'</td>'+
                                    '<td><input type="radio" name="select" value="'+(data[i].nombre)+'"></td>'+
                                    '</tr>'+
                                    '</table>'
                        }
                        $('#filaProducto').html(fila);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown)
                    })
        }**/

    </script>
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            clave();
        });
        function clave(){
            var clave = document.getElementById("txtClave");
            document.getElementById("id_ped_num").value = clave.value;
        }
    </script>

{% endblock js_custom %}