{% extends "navbar.html" %}
{%load staticfiles%}
{%block title%}Imprimir Pedido{%endblock title%}
{% block content%}
<body onload="window.print()">
<div class="panel panel-success">
        <div class="panel-heading"><h4>Pedido</h4></div>
        <div class="panel-body">
            <form  method="post" id="formulario">{% csrf_token %}
                <div class="row">
                    <div class="col-md-5">
                        <label> <font color="black" face="Arial" size=3>Num. Pedido: </font></label>
                        {{ ped.ped_num }}
                    </div>
                    <div class="col-md-5">
                        <label> <font color="black" face="Arial" size=3>Fecha: </font></label>
                        {{ ped.ped_fec }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label> <font color="black" face="Arial" size=3>Usuario: </font></label>
                        {{ ped.usu_id }}
                    </div>
                    <div class="col-md-5">
                        <label> <font color="black" face="Arial" size=3>Nom. Proveedor: </font></label>
                        {{ ped.prov_id }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <table id="tabla1" class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10%">Cantidad</th>
                                <th width="40%">Nombre</th>
                                <th width="50%">Nota</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for det in detalle %}
                            <tr>

                                <td>
                                    {{ det.det_ped_can }}
                                </td>
                                <td>
                                    <div class="input-group">
                                        {{ det.pro_id }}
                                    </span>
                                    </div>
                                </td>
                                <td>
                                    {{ det.det_ped_des }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </form>

        </div>
</div>
</body>
{% endblock content %}