<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{%block title%}{%endblock title%}</title>
	{% load staticfiles %}
	{% block css %}
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
	{% endblock css %}

</head>

<body style="text-align: justify;">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{%url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> SIGIF</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{%url 'list_usuario'%}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuarios</a></li>
					<li><a href="{%url 'list_cliente'%}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Clientes</a></li>
					<li><a href="{%url 'list_proveedor'%}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Proveedores</a></li>
					<li><a href="{%url 'list_producto'%}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Productos</a></li>
					<li><a href="{%url 'list_pedido'%}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Pedidos</a></li>
					<li><a href="{%url 'list_factura'%}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Facturacion</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a>Bienvenid@ {{user.usu_nom|capfirst}}</a></li>
					<li><a href="/cerrar/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Cerrar Sesion</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>Fixed navbar -->

	<!-- Begin page content -->
	<div class="container">{% block content %}{% endblock content %}</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">© Todos los derechos reservados | L.E.A. Systems S.A.</p>
		</div>
	</footer>

</body>
{% block js_custom %}{% endblock js_custom %}

{% block js %}
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        
        <script src="{% static 'js/jquery.easing-1.3.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/bootbox.min.js' %}"></script>
        {% endblock js %}

        </html>