{% extends "navbar.html" %}
{%block title%}Usuarios{%endblock%}
{% block content%}
<form class="form-horizontal form-group " method="post">{% csrf_token %}
  <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" onclick=" window.location.href='{% url 'new_usuario' %}' "><span class="glyphicon glyphicon-plus"></span> Agregar</button>
      <button type="button" class="btn btn-default" onclick=" window.location.href='{% url 'pdf_usuario' %}' "><span class="glyphicon glyphicon-print"></span> Imprimir</button>
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-btn ">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
          <input id="buscar" name="buscar" type="text" class="form-control" placeholder="Cedula del Usuario...">
        </div>
      </div>
  </div>
  <br>
  <br>  
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Listado de Usuarios</h4></div>
    <div class="panel-body">
              <table valign="middle" class="table">
                <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Sexo</th>
                    <th>Direccion</th>
                    <th>Telfono</th>
                    <th>E-mail</th>
                    <th>(Editar / Eliminar)</th>
                </tr>
                </thead>
                <tbody>
                {% for usuario in results %}
                    <tr>
                        <td>{{ usuario.usu_ced }}</td>
                        <td>{{ usuario.usu_nom }}</td>
                        <td>{{ usuario.usu_ape }}</td>
                        {% if usuario.usu_sex == 'm' or usuario.usu_sex == 'M'%}
                            <td>Masculino</td>
                        {% endif %}
                        {% if usuario.usu_sex == 'f' or  usuario.usu_sex == 'F'%}
                            <td>Femenino</td>
                        {% endif %}

                        <td>{{ usuario.usu_dir }}</td>
                        <td>{{ usuario.usu_tel }}</td>
                        <td>{{ usuario.usu_ema }}</td>

                        <td>
                            <button type="button" class="btn btn-default" onclick=" window.location.href='{% url 'edit_usuario' usuario.id %}' "><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
    </div>
  </div>
</form>

{% endblock %}